.refBox {
  padding: 2px;
}

.ReferenceHolder_refBox__240V3 {
  width: 38vw;
}
.cardPrimary {
  width: 25rem !important;
  float: right;
  display: flex;
  justify-content: space-between;
}
.LineItem_label__d2ops {
  margin-right: 15px !important;
}
.input {
  border: 0 0 1px 0 solid gray;
}
