table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.container {
  margin: 20px 10px 10px 10px;
}
td {
}
td text {
  margin-right: 15px;
}

.del {
  color: rgba(255, 0, 0, 0.5);
  justify-self: center;
}

.del:hover {
  color: red;
}
tr > .del {
  margin-top: 20%;
}
.lastCol {
  background-color: white;
  border: none;
}
.dropdown {
  width: 100px;
}
