table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.container {
  margin: 20px 10px 10px 10px;
}
td {
}
td text {
  margin-right: 15px;
}
